@font-face {
    font-family: "font1";
    src: url("../media/raleway/Raleway-Bold.ttf");
  }
body{
    background-color: white;
}
*{
    font-family: font1;
}
.margin-right{
    margin-right: 20px;
}
.titulos{
    text-align: center;
}
footer{
    background-color: #8a6fb4;
    text-align: center;

}
#oferta{
    transform: rotate(45deg) scale(1.5);
    background-color: red;
    position: fixed;
    top: 50px;
    right: -10px;
    width: 150px;
    z-index: 3;
    text-align: center;
}
#oferta a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width:991px){
.margin-right{
    margin-right: 150px;
}
.titulos{
    text-align: left;
    margin-left: 10px;
}
img{
    border-radius: 1%;
}
}
